* {
 font-family: Comic Sans MS;
}

#navbar button:hover {
  background-color: #ccfeff;
}

#navbar button {
  background-color: #00faff;
  border: none;
  color: black;
  padding: 15px 32px;
  border-radius: 12px;
  text-align: center;
  font-size: 24px;
  margin: 25px 5px 25px 5px;

}

.common_button button {
  background-color: #F5F5F5;
  border: none;
  color: black;
  padding: 15px 32px;
  border-radius: 5px;
  text-align: center;
  font-size: 24px;
  margin: 25px 5px 25px 5px;
  align-content: center;
}

a:active {
  background-color: white;
}

.content{
    border-style: groove;
    border-radius: 5px;
    background: #ccfeff;
    opacity: 0.8;
    padding: 10px;
    text-align: center;
    font-size: 22px;
    margin: 25px 60px 25px 60px;
}


@import url(https://fonts.googleapis.com/css?family=Lato:900);
*, *:before, *:after{
  box-sizing:border-box;
}
body{
  font-family: 'Lato', sans-serif;
    ;
}
div.title{
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.letter{
  display: inline-block;
  font-weight: 900;
  font-size: 3em;
  margin: 0.2em;
  position: relative;
  color: #00faff;
  transform-style: preserve-3d;
  perspective: 400;
  z-index: 1;
}
.letter:before, .letter:after{
  position:absolute;
  content: attr(data-letter);
  transform-origin: top left;
  top:0;
  left:0;
}
.letter, .letter:before, .letter:after{
  transition: all 0.3s ease-in-out;
}
.letter:before{
  color: black;
  text-shadow:
    -1px 0px 1px rgba(255,255,255,.8),
    1px 0px 1px rgba(0,0,0,.8);
  z-index: 3;
  transform:
    rotateX(0deg)
    rotateY(-15deg)
    rotateZ(0deg);
}
.letter:after{
  color: rgba(0,0,0,.11);
  z-index:2;
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(0deg)
    rotateZ(0deg)
    skew(0deg,1deg);
}
.letter:hover:before{
  color: #fafafa;
  transform:
    rotateX(0deg)
    rotateY(-40deg)
    rotateZ(0deg);
}
.letter:hover:after{
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(40deg)
    rotateZ(0deg)
    skew(0deg,22deg);
  }
